<meta property="og:type" content="profile" />
<meta property="og:title" content="{{ site.author.full_name }}" />
<meta property="og:site_name" content="{{ include.title }}" />
<meta property="og:description" content="{{ include.description }}" />
<meta property="og:url" content="{{ include.permalink }}" />
<meta property="og:locale" content="{{ site.lang }}" />
<meta property="og:image" content="{{ include.ogimage }}" />
<!-- <meta property="og:image:width" content="255"> -->
<!-- <meta property="og:image:height" content="255"> -->
<meta property="og:updated_time" content="{{ page.last_modified_at | date: "%Y-%m-%dT%H:%M:%S%z" }}" />
<meta property="profile:first_name" content="{{ site.author.first_name }}" />
<meta property="profile:last_name" content="{{ site.author.last_name }}" />
<!-- <meta property="profile:username" content="angelguerra" /> -->
