<script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Person",
        "name": "{{ site.author.full_name }}",
        "jobTitle": "Full Stack Developer",
        "height": "182cm",
        "gender": "male",
        "url": "{{ site.url }}",
        "address": {
            "@type": "PostalAddress",
            "addressRegion": "Cantabria",
            "addressCountry": "Spain"
        },
        "sameAs": [
            "{{ site.social.twitter }}",
            "{{ site.social.linkedin }}",
            "{{ site.social.github }}"
        ],
        "birthDate": "1990-03-01",
        "birthPlace": "Santander",
        "nationality": "Spanish",
        "image": "{{ site.avatar | absolute_url }}"
    }
</script>