{% comment %}Comienzo de las variables{% endcomment %}
{% assign title = page.title | append: " | " | append: site.title %}
{% assign description = page.description | default: site.description %}
{% assign permalink = page.url | absolute_url %}
{% assign ogimage = site.ogimage | absolute_url %}
{% if page.ogimage %}
    {% assign ogimage = page.ogimage.path | absolute_url %}
{% endif %}
{% comment %}Comienzo de las etiquetas{% endcomment %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="language" content="{{ site.langName }}" />

<base href="{{ permalink }}" />
<link rel="canonical" href="{{ permalink }}" />

<title>{{ title }}</title>
<meta name="description" content="{{ description }}" />
<meta name="author" content="{{ site.author.full_name }}" />

{% comment %}TWITTER{% endcomment %}
{% include head/twitter.html title=title description=description permalink=permalink ogimage=ogimage %}

{% comment %}FACEBOOK{% endcomment %}
{% include head/opengraph.html title=title description=description permalink=permalink ogimage=ogimage %}

{% comment %}SITEMAP{% endcomment %}
<!-- <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | absolute_url }}" /> -->

{% comment %}SCHEMA.ORG{% endcomment %}
{% include head/schema.html %}

{% comment %}FAVICON{% endcomment %}
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d05dd2" />

{% comment %}OTHER{% endcomment %}
<meta name="application-name" content="{{ title }}" />
<meta name="url" content="{{ permalink }}" />
<link rel="manifest" href="{{ "/site.webmanifest" | absolute_url }}" />
<meta name="theme-color" content="#d05dd2" />
<meta name="msapplication-TileColor" content="#2b5797" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-touch-fullscreen" content="yes" />

{% comment %}STYLESHEETS{% endcomment %}
<link rel="stylesheet" href="{{ "/assets/webpack/main.bundle.css" | relative_url }}">